<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title>Running Bot</title>
</head>
<body>
    <ul>
        <li>
            High Bar : {{ bar_detail['high_bar'] }}
        </li>
        <li>
            Low Bar : {{ bar_detail['low_bar'] }}
        </li>
        <li>
            Total Grid : {{ bar_detail['total_grid'] }}
        </li>
        <li>
            Grid Size : {{ bar_detail['grid_size'] }}
        </li>
        <li>
            Notional : {{ notional }}
        </li>
        <li>
            Total Buy Grid : {{ grid_lines['num_buy'] }}
        </li>
        <li>
            Total Sell Grid : {{ grid_lines['num_sell'] }}
        </li>
        <li>
            Amount : {{ amount }}
        </li>
    </ul>
</body>
</html>